/* Import Google fonts */
/* Import the "Lato" font */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Import the "Staatliches" font */
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

/* Define root variables for colors */
:root {
  --background-color: #f5f5f5;
  --text-color: #333;
  --container-background: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #ccc;
  --button-hover-color: #0056b3;
}

/* Body styles */
body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.3rem;
  background-color: var(--container-background);
  border-radius: 0.3rem;
  box-shadow: 0 0 0.625rem var(--box-shadow-color);
}

/* Heading styles */
h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: var(--text-color);
}

/* Form styles */
form {
  margin-top: 1.3rem;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border: 0.06rem solid var(--border-color);
  border-radius: 0.2rem;
  font-size: 1rem;
}

/* Buttons for actions like delete, show password, and update */
a.btn,
button.btn {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.password-item {
  border: 0.06rem solid var(--border-color);
  border-radius: 1rem;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
}